@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url("../Components/Common/Common.style.css");
@import url("../Components/User/user.style.css");

body {
    background: #403A3E;
    background: -webkit-linear-gradient(to right, #BE5869, #403A3E);
    background: linear-gradient(to right, #BE5869, #403A3E);
    font-family: 'Architects Daughter',
        cursive;
    color: white;
}