body {
    background: #403A3E;
    background: -webkit-linear-gradient(to right, #BE5869, #403A3E);
    background: linear-gradient(to right, #BE5869, #403A3E);
    font-family: "Space Mono";
    color: white;
}