.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 15vh;
}

.container a {
    text-decoration: none;
    color: white;
    background-color: black;
    font-family: 'Architects Daughter',
        cursive;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.container a:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}