.login {
    width: 80%;
    margin: auto;
}

.login .form_ form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.login .form_ form input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    background-color: black;
    color: white;
    box-shadow: black 8px 5px 10px;

}

.form_field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

button {
    padding: 6px;
    border-radius: 7px;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-family: 'Architects Daughter',
        cursive;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
    box-shadow: black 5px 3px 4px;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: black 8px 5px 10px;
}